Algorithm:

Note: by the end of my code, I will have created 3 dataframes. (1) The original df with the sec visits data, (2) the df containing the ip address and a count for each second for that a site was visited, and (3) the final df containing the 5 columns including (1) the ip address, (1) the datetime of the first webpage request in a single visit, the datetime of the last webpage request in a single visit, the length of time of the session -- these can be just 1 second if there is a single visit, or more -- calculated such that as long as there are 2 seconds or less between each visit you can chain together the site vists and dd up the total seconds as one session, the number of distinct webpage requests during the session in question

IP address of the user exactly as found in log.csv
date and time of the first webpage request in the session (yyyy-mm-dd hh:mm:ss)
date and time of the last webpage request in the session (yyyy-mm-dd hh:mm:ss)
duration of the session in seconds
count of webpage requests during the session

1) Start by reading in pd dataframe containing relevant columns
2) put columns in order I want
3) the variablle for the inactivity will be read in as an function argument, but if I write it not as a function then I need to read that in to create variable to use in my code to create the final data
4) Next, parse original dataframe to create new dataframe containing the five columns as described above, or more briefly as:
1) IP address of the user exactly as found in log.csv
2) date and time of the first webpage request in the session (yyyy-mm-dd hh:mm:ss)
3) date and time of the last webpage request in the session (yyyy-mm-dd hh:mm:ss)
4) duration of the session in seconds
5) count of webpage requests during the session

 -- To accomplish # 4 in the algorithm, we need to do the following:
 A) Pass through original df once to find all ip addresses that started sessions in the first second
     i) put those into the second df
  &&& QUESTION: What's the best way to add new data to a dataframe such that we are ex
 B) Q

In [1]:
import pandas as pd
import numpy as np
import datetime, time

# def parse_sec_edgar_data(input_donor_data, output_donor_data):

def parse_sec_edgar_data(input_data_csv, inactivity_period_file, output_data_csv):
    
    input_sec_dataframe = pd.read_csv(input_data_csv, sep=',', header='infer', usecols=['ip', 'date', 'time', 'cik', 'accession', 'extention'], dtype={'ip':np.str, 'cik':np.str, 'accession':np.str, 'extention':np.str}, parse_dates=[['date', 'time']]) #, dropna(subset = ['CMTE_ID', 'NAME', 'ZIP_CODE', 'TRANSACTION_DT', 'TRANSACTION_AMT'] #Reads in file, specifies ',' as separator, infers that there is a header in the input file that should be preserved, selects only the 6 columns that are relevant to my analysis, reads these 6 columns as appropriate data types; reads the date and time columns as date_time types and combines them into a single column that allows for identifying and ordering each row on a time series,  ????? drops null values from a subset of columns, but not the 'OTHER_ID' column where we want to keep all null values

    input_sec_dataframe=input_sec_dataframe.reindex(columns=['ip', 'date_time', 'cik', 'accession', 'extention']) #Changes order of columns, putting columns into my desired order
    
    inactivity_text = pd.read_csv('../input/inactivity_period.txt') # replace file name with inactivity_period_file
    for row in inactivity_text:
        inactivity_value = row
    
    #input_sec_dataframe = input_sec_dataframe.sort_values(by=['ip', 'date_time'])
#     sec_list = input_sec_dataframe.values.tolist()
#     print(input_sec_dataframe)

# #     input_sec_dataframe['date_time']
    
    
# #     input_sec_dataframe['start_time'] = input_sec_dataframe['date_time']
    

# #     for num, base_cell in enumerate(df_sec_edgar_data['date_time']):
# #         if
        
# #     for i in range(len(df_sec_edgar_data['date_time'])):
# #         for cell in df_sec_edgar_data['date_time']:
# #             if cell == i:
# #                 sec_edgar_data['0'] = i
    
# #         for start_cell in input_sec_dataframe:
# #             if base_cell['ip']
            
    
# # #     for cell in input_sec_dataframe['datetime']:
# # #         if 
    
#     #input_sec_dataframe['user_and_site_id'] = input_sec_dataframe.groupby(['ip', 'cik', 'accession', 'extention'])
#     input_sec_dataframe.to_csv(output_data_csv, sep=',', header='infer', index=False) #Writes dataframe to csv file '??????????.txt' with the correct ',' separator. Also, to match the desired format, this line ??????? the headers and the index column.
#     return sec_list
    return input_sec_dataframe
    
 
df_sec_edgar_data = parse_sec_edgar_data('../input/log.csv', '../input/inactivity_period.txt', '../output/sessionization.txt')
print(df_sec_edgar_data)

                ip           date_time        cik             accession  \
0   101.81.133.jja 2017-06-30 00:00:00  1608552.0  0001047469-17-004337
1    107.23.85.jfd 2017-06-30 00:00:00  1027281.0  0000898430-02-001167
2    107.23.85.jfd 2017-06-30 00:00:00  1136894.0  0000905148-07-003827
3    107.23.85.jfd 2017-06-30 00:00:01   841535.0  0000841535-98-000002
4    108.91.91.hbc 2017-06-30 00:00:01  1295391.0  0001209784-17-000052
5  106.120.173.jie 2017-06-30 00:00:02  1470683.0  0001144204-14-046448
6  107.178.195.aag 2017-06-30 00:00:02  1068124.0  0000350001-15-000854
7    107.23.85.jfd 2017-06-30 00:00:03   842814.0  0000842814-98-000001
8  107.178.195.aag 2017-06-30 00:00:04  1068124.0  0000350001-15-000731
9    108.91.91.hbc 2017-06-30 00:00:04  1618174.0  0001140361-17-026711

          extention
0        -index.htm
1        -index.htm
2        -index.htm
3       -index.html
4              .txt
5  v385454_20fa.htm
6         -xbrl.zip
7       -index.html
8         -xbrl.zip
9              .txt

In [2]:
# df_sec_edgar_data['unique_ip_time'] = df_sec_edgar_data[df_sec_edgar_data.columns[0:2]].apply(lambda x: '|'.join(x.dropna().astype(str)),axis=1)
df_sec_edgar_data['unique_id'] = df_sec_edgar_data[df_sec_edgar_data.columns[2:]].apply(lambda x: '|'.join(x.dropna().astype(str)),axis=1)

df_sec_edgar_data

,ip,date_time,cik,accession,extention,unique_id
0,101.81.133.jja,2017-06-30 00:00:00,1608552.0,0001047469-17-004337,-index.htm,1608552.0|0001047469-17-004337|-index.htm
1,107.23.85.jfd,2017-06-30 00:00:00,1027281.0,0000898430-02-001167,-index.htm,1027281.0|0000898430-02-001167|-index.htm
2,107.23.85.jfd,2017-06-30 00:00:00,1136894.0,0000905148-07-003827,-index.htm,1136894.0|0000905148-07-003827|-index.htm
3,107.23.85.jfd,2017-06-30 00:00:01,841535.0,0000841535-98-000002,-index.html,841535.0|0000841535-98-000002|-index.html
4,108.91.91.hbc,2017-06-30 00:00:01,1295391.0,0001209784-17-000052,.txt,1295391.0|0001209784-17-000052|.txt
5,106.120.173.jie,2017-06-30 00:00:02,1470683.0,0001144204-14-046448,v385454_20fa.htm,1470683.0|0001144204-14-046448|v385454_20fa.htm
6,107.178.195.aag,2017-06-30 00:00:02,1068124.0,0000350001-15-000854,-xbrl.zip,1068124.0|0000350001-15-000854|-xbrl.zip
7,107.23.85.jfd,2017-06-30 00:00:03,842814.0,0000842814-98-000001,-index.html,842814.0|0000842814-98-000001|-index.html
8,107.178.195.aag,2017-06-30 00:00:04,1068124.0,0000350001-15-000731,-xbrl.zip,1068124.0|0000350001-15-000731|-xbrl.zip
9,108.91.91.hbc,2017-06-30 00:00:04,1618174.0,0001140361-17-026711,.txt,1618174.0|0001140361-17-026711|.txt

In [3]:
df_sec_edgar_data.drop(['cik', 'accession', 'extention'], axis=1, inplace=True)
df_sec_edgar_data

,ip,date_time,unique_id
0,101.81.133.jja,2017-06-30 00:00:00,1608552.0|0001047469-17-004337|-index.htm
1,107.23.85.jfd,2017-06-30 00:00:00,1027281.0|0000898430-02-001167|-index.htm
2,107.23.85.jfd,2017-06-30 00:00:00,1136894.0|0000905148-07-003827|-index.htm
3,107.23.85.jfd,2017-06-30 00:00:01,841535.0|0000841535-98-000002|-index.html
4,108.91.91.hbc,2017-06-30 00:00:01,1295391.0|0001209784-17-000052|.txt
5,106.120.173.jie,2017-06-30 00:00:02,1470683.0|0001144204-14-046448|v385454_20fa.htm
6,107.178.195.aag,2017-06-30 00:00:02,1068124.0|0000350001-15-000854|-xbrl.zip
7,107.23.85.jfd,2017-06-30 00:00:03,842814.0|0000842814-98-000001|-index.html
8,107.178.195.aag,2017-06-30 00:00:04,1068124.0|0000350001-15-000731|-xbrl.zip
9,108.91.91.hbc,2017-06-30 00:00:04,1618174.0|0001140361-17-026711|.txt

In [7]:
df_sec_edgar_data['number_of_visits'] = 1
df_sec_edgar_data['duration'] = 1

In [15]:
df_sec_edgar_data['ip'].iloc[1] == df_sec_edgar_data['ip'].iloc[1+1:]

2     True
3     True
4    False
5    False
6    False
7     True
8    False
9    False
Name: ip, dtype: bool

In [9]:
for i in range(len(df_sec_edgar_data):
            df_sec_edgar_data['ip'][df_sec_edgar_data['ip'].iloc[i] == df_sec_edgar_data['ip'].iloc[idf_sec_edgar_data['date_time'].iloc[i]]
df_sec_edgar_data
# if ip repeats, and if the difference in one datetime is 2 or less, combine duration rows together
# else if ip repeats but if the difference in one datetime is more than 2, do not combine duration rows together

,ip,date_time,unique_id,number_of_visits,duration
0,101.81.133.jja,2017-06-30 00:00:00,1608552.0|0001047469-17-004337|-index.htm,1,1
1,107.23.85.jfd,2017-06-30 00:00:00,1027281.0|0000898430-02-001167|-index.htm,1,1
2,107.23.85.jfd,2017-06-30 00:00:00,1136894.0|0000905148-07-003827|-index.htm,1,1
3,107.23.85.jfd,2017-06-30 00:00:01,841535.0|0000841535-98-000002|-index.html,1,1
4,108.91.91.hbc,2017-06-30 00:00:01,1295391.0|0001209784-17-000052|.txt,1,1
5,106.120.173.jie,2017-06-30 00:00:02,1470683.0|0001144204-14-046448|v385454_20fa.htm,1,1
6,107.178.195.aag,2017-06-30 00:00:02,1068124.0|0000350001-15-000854|-xbrl.zip,1,1
7,107.23.85.jfd,2017-06-30 00:00:03,842814.0|0000842814-98-000001|-index.html,1,1
8,107.178.195.aag,2017-06-30 00:00:04,1068124.0|0000350001-15-000731|-xbrl.zip,1,1
9,108.91.91.hbc,2017-06-30 00:00:04,1618174.0|0001140361-17-026711|.txt,1,1

In [52]:
df1 = df_sec_edgar_data.groupby("ip",sort=True).sum().reset_index()

7    107.23.85.jfd
Name: ip, dtype: object

In [11]:


df1 = pd.DataFrame()
df2 = pd.DataFrame()
counter = 0
for i in range((df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds+1):
    
    if counter == 0: # This loop, which iterates only once, creates the initial dataframe for the zero-time visits to the SEC website
        counter += 1
        df1['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=0)]
        df1[i] = 1
        #print('df1 here {}'.format(df1))
        df1 = df1.groupby("ip",sort=True).sum().reset_index()
#         print(df1)
    else:

#     new1_df = pd.DataFrame()
        counter+=1
        print(counter)
        df2['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=i)]
        df2[i] = 1
        #print('df2 here{}'.format(df2))
        df2 = df2.groupby("ip",sort=True).sum().reset_index()
#         print(df2)

        df1 = pd.merge(df1, df2, 'outer').copy()
df1

0
0
0
0
0

                ip    0    1    2    3  4
0  107.178.195.aag  0.0  0.0  0.0  0.0  1
1    108.91.91.hbc  0.0  0.0  0.0  0.0  1

In [15]:
(df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds+1

5

## new_df = pd.DataFrame()

new_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0]]
new_df['0 seconds'] = 1
new_df = new_df.groupby("ip",sort=True).sum().reset_index()


new_df

In [5]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()
counter = 0
for i in range((df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds+1):

    df1['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=0)]
    df1[i] = 1
    #print('df1 here {}'.format(df1))
    df1 = df1.groupby("ip",sort=True).sum().reset_index()
    df2 = pd.concat([df1, df2])
    

df2

/home/tommy/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  # Remove the CWD from sys.path while we load stuff.

               ip  0    1    2    3    4
0  101.81.133.jja  1  1.0  1.0  1.0  1.0
1   107.23.85.jfd  2  1.0  1.0  1.0  1.0
0  101.81.133.jja  1  1.0  1.0  1.0  NaN
1   107.23.85.jfd  2  1.0  1.0  1.0  NaN
0  101.81.133.jja  1  1.0  1.0  NaN  NaN
1   107.23.85.jfd  2  1.0  1.0  NaN  NaN
0  101.81.133.jja  1  1.0  NaN  NaN  NaN
1   107.23.85.jfd  2  1.0  NaN  NaN  NaN
0  101.81.133.jja  1  NaN  NaN  NaN  NaN
1   107.23.85.jfd  2  NaN  NaN  NaN  NaN

In [33]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()
counter = 0
for i in range((df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds + 1):
    counter += 1
    if counter == 1:
        df1['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=0)]
        df1[i] = 1
        #print('df1 here {}'.format(df1))
        df1 = df1.groupby("ip",sort=True).sum().reset_index()
        print(df1)
    else:

#     new1_df = pd.DataFrame()
        df2['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=i+1)]
        df2[i] = 1
        
        #print('df2 here{}'.format(df2))
        df2 = df2.groupby("ip",sort=True).sum().reset_index()
        print(df2)
    

        df1 = pd.merge(df1, df2, 'outer')
#         print("this is {}".format(df2_final))

df1

               ip  0
0  101.81.133.jja  1
1   107.23.85.jfd  2
                ip  1
0  106.120.173.jie  1
1  107.178.195.aag  1
Empty DataFrame
Columns: [ip, 1, 2]
Index: []
                ip    1    2  3
0  107.178.195.aag  0.0  0.0  1
1    108.91.91.hbc  0.0  0.0  1
Empty DataFrame
Columns: [ip, 1, 2, 3, 4]
Index: []

                ip    0    1    2    3   4
0   101.81.133.jja  1.0  NaN  NaN  NaN NaN
1    107.23.85.jfd  2.0  NaN  NaN  NaN NaN
2  106.120.173.jie  NaN  1.0  NaN  NaN NaN
3  107.178.195.aag  NaN  1.0  NaN  NaN NaN
4  107.178.195.aag  NaN  0.0  0.0  1.0 NaN
5    108.91.91.hbc  NaN  0.0  0.0  1.0 NaN

In [5]:
df_sec_edgar_data

,ip,date_time,unique_id
0,101.81.133.jja,2017-06-30 00:00:00,1608552.0|0001047469-17-004337|-index.htm
1,107.23.85.jfd,2017-06-30 00:00:00,1027281.0|0000898430-02-001167|-index.htm
2,107.23.85.jfd,2017-06-30 00:00:00,1136894.0|0000905148-07-003827|-index.htm
3,107.23.85.jfd,2017-06-30 00:00:01,841535.0|0000841535-98-000002|-index.html
4,108.91.91.hbc,2017-06-30 00:00:01,1295391.0|0001209784-17-000052|.txt
5,106.120.173.jie,2017-06-30 00:00:02,1470683.0|0001144204-14-046448|v385454_20fa.htm
6,107.178.195.aag,2017-06-30 00:00:02,1068124.0|0000350001-15-000854|-xbrl.zip
7,107.23.85.jfd,2017-06-30 00:00:03,842814.0|0000842814-98-000001|-index.html
8,107.178.195.aag,2017-06-30 00:00:04,1068124.0|0000350001-15-000731|-xbrl.zip
9,108.91.91.hbc,2017-06-30 00:00:04,1618174.0|0001140361-17-026711|.txt

In [6]:
new_df = pd.DataFrame()

new_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0]]
new_df['0 seconds'] = 1
new_df = new_df.groupby("ip",sort=True).sum().reset_index()
new_df

               ip  0 seconds
0  101.81.133.jja          1
1   107.23.85.jfd          2

In [15]:
new_df = pd.DataFrame()
new_df['ip']  = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0]]
if 
new_df

               ip  1
0  101.81.133.jja  1
1   107.23.85.jfd  1
2   107.23.85.jfd  1

Talking through the central code that parses the original dataframe:
Instead of doing a "range" loop based on i to parse the original dataset to create the second one, can I add to the 2nd dataframe simply by adding new rows based on what's been added. For example, here is the first real line of code:
new_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0]]
- This line of the code checks for sites at zero seconds and finds 3 ip addresses to add to the second df....  We also have the following line of code, which adds a 1 to the '1' column for each of the rows added above
new_df[i].loc[i] = 1
Once this is accomplished, the next line should either add a new row if

In [92]:
new_df[2] = 1

new_df
# when it loops through the second time, it needs to first add the new rows, then use new_df = new_df.groupby("ip",sort=True).sum().reset_index() to combine the new rows with the existing rows if the ip address is the same

               ip  1  2
0  101.81.133.jja  1  1
1   107.23.85.jfd  2  1

In [67]:
 df_sec_edgar_data['date_time'].iloc[0]

Timestamp('2017-06-30 00:00:00')

In [124]:
(df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds

4

In [138]:
new_df

                ip    1    2    3    4  5
0  107.178.195.aag  0.0  0.0  0.0  0.0  1
1    108.91.91.hbc  0.0  0.0  0.0  0.0  1

In [158]:
new_df[1] # outputs/refers to the 1 column of the df, all rows
new_df[1][1:] # outputs/refers to the 1 column of the df, all rows starting with 1
new_df.iloc[1]

ip    108.91.91.hbc
1                 0
2                 0
3                 0
4                 0
5                 1
Name: 1, dtype: object

In [172]:
new_df = pd.DataFrame()
new_df1 = pd.DataFrame()

new_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=0)] 
new_df[1] = 1
new_df = new_df.groupby("ip",sort=True).sum().reset_index()

for i in range(1, (df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds + 1):
    new_df1['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=1)]
#     new_df[i] = 1
    
#     new_df1 = new_df1.groupby("ip",sort=True).sum().reset_index()
    
#The above starts out the code by adding the lines for zero time

#for i in range((df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds + 1): creates loop that passes through original dataframe once for each second that passes for all date_times included in the original dataframe
'''But again, do I need to loop through the whole thing or can I add everything in one vectorized pass? The reason I believe I can't do this is that I feel like I can't or don't know how to add data of unknown number of rows to the bottom of a dataframe and then reindex that dataframe. BUT.... What if I first create the dataframe not as an empty dataframe, but as a dataframe of a set shape with the exact number of rows and columns it needs? Well, I cannot do this because the nature of my project is that I cannot know he number of rows there will be at the end.'''

#
#     new_df = new_df.groupby("ip",sort=True).sum().reset_index()
#     break
    
    #second loop:
#     new_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0]]
#      + datetime.timedelta(seconds=1)
#     new_df = new_df.groupby("ip",sort=True).sum().reset_index()

# print(new_df)
# print("********************************************\n")
# print(df_sec_edgar_data)

new_df1

              ip
3  107.23.85.jfd
4  108.91.91.hbc

In [161]:
#QUESTION: Can I put all of the data from df1 to newdf entirely into the second dataframe without having to loop and merge?


new_df = pd.DataFrame()
for i in range((df_sec_edgar_data['date_time'].iloc[-1] - df_sec_edgar_data['date_time'].iloc[0]).seconds + 1):
    new_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0]]
    if df_sec_edgar_data['date_time'][new_df:'''for any row after the '''] - df_sec_edgar_data['date_time'].iloc[0]] # if the value for df_sec_edgar_data['date_time'][new_df:'''for any row after the '''] - df_sec_edgar_data['date_time'].iloc[0]]
    if df_sec_edgar_data['ip'] == new_df.loc[i][0]
    new_df[i].loc[i] = 1
    new_df = new_df.groupby("ip",sort=True).sum().reset_index()
new_df

SyntaxError: invalid syntax (<ipython-input-161-a276de420ee3>, line 7)

In [21]:
new1_df = pd.DataFrame()

new1_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=1)]
new1_df['1 second'] = 1
new1_df = new1_df.groupby("ip",sort=True).sum().reset_index()
new1_df

                                           unique_id  1 second
0  1295391.0|0001209784-17-000052|.txt|108.91.91....         1
1  841535.0|0000841535-98-000002|-index.html|107....         1

In [22]:
new_con = pd.merge(new_df, new1_df, 'outer')
new_con

                                           unique_id  0 seconds  1 second
0  1027281.0|0000898430-02-001167|-index.htm|107....        1.0       NaN
1  1136894.0|0000905148-07-003827|-index.htm|107....        1.0       NaN
2  1608552.0|0001047469-17-004337|-index.htm|101....        1.0       NaN
3  1295391.0|0001209784-17-000052|.txt|108.91.91....        NaN       1.0
4  841535.0|0000841535-98-000002|-index.html|107....        NaN       1.0

In [23]:
new2_df = pd.DataFrame()

new2_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=2)]
new2_df['2 seconds'] = 1
new2_df = new2_df.groupby("ip",sort=True).sum().reset_index()
new2_df

                                           unique_id  2 seconds
0  1068124.0|0000350001-15-000854|-xbrl.zip|107.1...          1
1  1470683.0|0001144204-14-046448|v385454_20fa.ht...          1

In [24]:
new1_con = pd.merge(new_con, new2_df, 'outer')
new1_con

,unique_id,0 seconds,1 second,2 seconds
0,1027281.0|0000898430-02-001167|-index.htm|107....,1.0,NaN,NaN
1,1136894.0|0000905148-07-003827|-index.htm|107....,1.0,NaN,NaN
2,1608552.0|0001047469-17-004337|-index.htm|101....,1.0,NaN,NaN
3,1295391.0|0001209784-17-000052|.txt|108.91.91....,NaN,1.0,NaN
4,841535.0|0000841535-98-000002|-index.html|107....,NaN,1.0,NaN
5,1068124.0|0000350001-15-000854|-xbrl.zip|107.1...,NaN,NaN,1.0
6,1470683.0|0001144204-14-046448|v385454_20fa.ht...,NaN,NaN,1.0

In [25]:
new3_df = pd.DataFrame()

new3_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=3)]
new3_df['3 seconds'] = 1
new3_df = new3_df.groupby("ip",sort=True).sum().reset_index()
new3_df

                                           unique_id  3 seconds
0  842814.0|0000842814-98-000001|-index.html|107....          1

In [26]:
new2_con = pd.merge(new1_con, new3_df, 'outer')
new2_con

,unique_id,0 seconds,1 second,2 seconds,3 seconds
0,1027281.0|0000898430-02-001167|-index.htm|107....,1.0,NaN,NaN,NaN
1,1136894.0|0000905148-07-003827|-index.htm|107....,1.0,NaN,NaN,NaN
2,1608552.0|0001047469-17-004337|-index.htm|101....,1.0,NaN,NaN,NaN
3,1295391.0|0001209784-17-000052|.txt|108.91.91....,NaN,1.0,NaN,NaN
4,841535.0|0000841535-98-000002|-index.html|107....,NaN,1.0,NaN,NaN
5,1068124.0|0000350001-15-000854|-xbrl.zip|107.1...,NaN,NaN,1.0,NaN
6,1470683.0|0001144204-14-046448|v385454_20fa.ht...,NaN,NaN,1.0,NaN
7,842814.0|0000842814-98-000001|-index.html|107....,NaN,NaN,NaN,1.0

In [27]:
new4_df = pd.DataFrame()

new4_df['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=4)]
new4_df['4 seconds'] = 1
new4_df = new4_df.groupby("ip",sort=True).sum().reset_index()
new4_df

                                           unique_id  4 seconds
0  1068124.0|0000350001-15-000731|-xbrl.zip|107.1...          1
1  1618174.0|0001140361-17-026711|.txt|108.91.91....          1

In [28]:
new3_con = pd.merge(new2_con, new4_df, 'outer')
new3_con

,unique_id,0 seconds,1 second,2 seconds,3 seconds,4 seconds
0,1027281.0|0000898430-02-001167|-index.htm|107....,1.0,NaN,NaN,NaN,NaN
1,1136894.0|0000905148-07-003827|-index.htm|107....,1.0,NaN,NaN,NaN,NaN
2,1608552.0|0001047469-17-004337|-index.htm|101....,1.0,NaN,NaN,NaN,NaN
3,1295391.0|0001209784-17-000052|.txt|108.91.91....,NaN,1.0,NaN,NaN,NaN
4,841535.0|0000841535-98-000002|-index.html|107....,NaN,1.0,NaN,NaN,NaN
5,1068124.0|0000350001-15-000854|-xbrl.zip|107.1...,NaN,NaN,1.0,NaN,NaN
6,1470683.0|0001144204-14-046448|v385454_20fa.ht...,NaN,NaN,1.0,NaN,NaN
7,842814.0|0000842814-98-000001|-index.html|107....,NaN,NaN,NaN,1.0,NaN
8,1068124.0|0000350001-15-000731|-xbrl.zip|107.1...,NaN,NaN,NaN,NaN,1.0
9,1618174.0|0001140361-17-026711|.txt|108.91.91....,NaN,NaN,NaN,NaN,1.0

In [110]:
new5_df = pd.DataFrame()

new5_df['unique_id'] = df_sec_edgar_data['unique_id'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=5)]
new5_df['5 seconds'] = 1
new5_df = new5_df.groupby("unique_id",sort=True).sum().reset_index()
new5_df

Empty DataFrame
Columns: [ip, 5 seconds]
Index: []

In [109]:
lst_

ValueError: No axis named outer for object type <class 'pandas.core.frame.DataFrame'>

In [73]:
lst_input_sec = df_sec_edgar_data.values.tolist()
df1 = []
df2 = []
counter = 0

for i in range((lst_input_sec[-1][1] - lst_input_sec[0][1]).seconds+1):
    if counter == 0:
        counter += 1
        for row in lst_input_sec:
            if row[1] == lst_input_sec[0][1]:
                df1.append(row)
                           
print(df1)

[['101.81.133.jja', Timestamp('2017-06-30 00:00:00'), '101.81.133.jja|2017-06-30 00:00:00', '1608552.0|0001047469-17-004337|-index.htm|101.81.133.jja|2017-06-30 00:00:00'], ['107.23.85.jfd', Timestamp('2017-06-30 00:00:00'), '107.23.85.jfd|2017-06-30 00:00:00', '1027281.0|0000898430-02-001167|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'], ['107.23.85.jfd', Timestamp('2017-06-30 00:00:00'), '107.23.85.jfd|2017-06-30 00:00:00', '1136894.0|0000905148-07-003827|-index.htm|107.23.85.jfd|2017-06-30 00:00:00']]

In [50]:
temp_list = []
blank = '_'    

for i in range((lst_input_sec[-1][1] - lst_input_sec[0][1]).seconds+1):
    temp_list[i*1] = blank

IndexError: list assignment index out of range

In [48]:
lst_input_sec = df_sec_edgar_data.values.tolist()

tempdf1 = pd.DataFrame()
tmeplist2 = []
counter = 0
temp_list = []
blank = '_'    

for i in range((lst_input_sec[-1][1] - lst_input_sec[0][1]).seconds+1):
    temp_list[i*1] = blank
    
    for row in lst_input_sec:
#         if counter >= 0:
#             counter == 1
        for line in temp_list:    
            if row[1] == lst_input_sec[0][1] + datetime.timedelta(seconds=i):
                print(temp_list)
                #                 line[0] = [row[0]] 
#                 line[1+i] = 1 


#                 >>> import pandas as pd
# >>> list=[['a','b']]
# >>> list.append(['e','f'])
# >>> df=pd.DataFrame(list,columns=['col1','col2'])
#    col1 col2
# 0    a    b
# 1    e    f

#         else:
#             if row[1] == lst_input_sec[0][1]:
#                 counter+=1
#                 tempdf1['ip'] = lst_input_sec[0]
#                 tempdf1[i+1] = 1

temp_list

['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']
['_', '_', '_', '_', '_', '_']

['_', '_', '_', '_', '_', '_']

In [10]:
for row in lst_input_sec:
    if row[0] == '101.81.133.jja':

SyntaxError: unexpected EOF while parsing (<ipython-input-10-7efc666f484f>, line 2)

In [47]:
lst_input_sec

[['101.81.133.jja',
  Timestamp('2017-06-30 00:00:00'),
  '1608552.0|0001047469-17-004337|-index.htm'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:00'),
  '1027281.0|0000898430-02-001167|-index.htm'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:00'),
  '1136894.0|0000905148-07-003827|-index.htm'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:01'),
  '841535.0|0000841535-98-000002|-index.html'],
 ['108.91.91.hbc',
  Timestamp('2017-06-30 00:00:01'),
  '1295391.0|0001209784-17-000052|.txt'],
 ['106.120.173.jie',
  Timestamp('2017-06-30 00:00:02'),
  '1470683.0|0001144204-14-046448|v385454_20fa.htm'],
 ['107.178.195.aag',
  Timestamp('2017-06-30 00:00:02'),
  '1068124.0|0000350001-15-000854|-xbrl.zip'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:03'),
  '842814.0|0000842814-98-000001|-index.html'],
 ['107.178.195.aag',
  Timestamp('2017-06-30 00:00:04'),
  '1068124.0|0000350001-15-000731|-xbrl.zip'],
 ['108.91.91.hbc',
  Timestamp('2017-06-30 00:00:04'),
  '1618174.0|0001140361-17-026711|.txt']]

In [ ]:
lst_input_sec = df_sec_edgar_data.values.tolist()
templist1 = []
tmeplist2 = []
counter = 0

for i in range((lst_input_sec[-1][1] - lst_input_sec[0][1]).seconds+1):
    if counter == 0:
        counter += 1
        for row in lst_input_sec:
            if row[1] == lst_input_sec[0][1]:
                templist1.append([row[0], 1])


    else:

#     new1_df = pd.DataFrame()
        counter+=1
        print(counter)
        df2['ip'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=i)]
        df2[i] = 1
        #print('df2 here{}'.format(df2))
        df2 = df2.groupby("ip",sort=True).sum().reset_index()
        print(df2)

        df1 = pd.merge(df1, df2, 'outer').copy()
df_new

In [10]:
new1_df = pd.DataFrame()

new1_df['index'] = df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[3]]

new1_df['1 second'] = df_sec_edgar_data['date_time'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[3]]
new1_df

           index            1 second
3  107.23.85.jfd 2017-06-30 00:00:01
4  108.91.91.hbc 2017-06-30 00:00:01

In [138]:
 type(list(df_sec_edgar_data['ip'][df_sec_edgar_data['date_time'] == df_sec_edgar_data['date_time'].iloc[3]]))

list

#### df_sec_edgar_data['date_time'].iloc[0] + datetime.timedelta(seconds=1)

In [66]:
 df_sec_edgar_data['date_time'][line] - datetime.timedelta(seconds=9333)

KeyError: "None of [['108.91.91.hbc', Timestamp('2017-06-30 00:00:04'), '108.91.91.hbc|2017-06-30 00:00:04', '1618174.0|0001140361-17-026711|.txt|108.91.91.hbc|2017-06-30 00:00:04']] are in the [index]"

In [61]:
type(df_sec_edgar_data['date_time'].iloc[0])

pandas._libs.tslib.Timestamp

In [173]:
for if df_sec_edgar_data['date_time'][1] in df_sec_edgar_data['date_time'][2:].values:
    print('d')
else:
    print('ddd')

ddd

In [174]:
print(df_sec_edgar_data['date_time'][0])

2017-06-30 00:00:00

In [131]:
second_df = df_sec_edgar_data.copy()
second_df

,ip,date_time,unique_ip_time,unique_id
0,101.81.133.jja,2017-06-30 00:00:00,101.81.133.jja|2017-06-30 00:00:00,1608552.0|0001047469-17-004337|-index.htm|101....
1,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|2017-06-30 00:00:00,1027281.0|0000898430-02-001167|-index.htm|107....
2,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|2017-06-30 00:00:00,1136894.0|0000905148-07-003827|-index.htm|107....
3,107.23.85.jfd,2017-06-30 00:00:01,107.23.85.jfd|2017-06-30 00:00:01,841535.0|0000841535-98-000002|-index.html|107....
4,108.91.91.hbc,2017-06-30 00:00:01,108.91.91.hbc|2017-06-30 00:00:01,1295391.0|0001209784-17-000052|.txt|108.91.91....
5,106.120.173.jie,2017-06-30 00:00:02,106.120.173.jie|2017-06-30 00:00:02,1470683.0|0001144204-14-046448|v385454_20fa.ht...
6,107.178.195.aag,2017-06-30 00:00:02,107.178.195.aag|2017-06-30 00:00:02,1068124.0|0000350001-15-000854|-xbrl.zip|107.1...
7,107.23.85.jfd,2017-06-30 00:00:03,107.23.85.jfd|2017-06-30 00:00:03,842814.0|0000842814-98-000001|-index.html|107....
8,107.178.195.aag,2017-06-30 00:00:04,107.178.195.aag|2017-06-30 00:00:04,1068124.0|0000350001-15-000731|-xbrl.zip|107.1...
9,108.91.91.hbc,2017-06-30 00:00:04,108.91.91.hbc|2017-06-30 00:00:04,1618174.0|0001140361-17-026711|.txt|108.91.91....

In [132]:
second_df['ip'].iloc[1:2]

1    107.23.85.jfd
Name: ip, dtype: object

In [103]:
new_df = pd.DataFrame()
new_df[i1] = (df_sec_edgar_data.iloc[0])
new_df = new_df.T
new_df

,ip,date_time,unique_id
9,101.81.133.jja,2017-06-30 00:00:00,101.81.133.jja|1608552.0|0001047469-17-004337|...

In [104]:
for i in new_df:
    new_df['duration'] = 1
new_df



>>> dt = datetime.datetime(2011, 10, 21, 0, 0)
>>> s = time.mktime(dt.timetuple())
>>> s
1319148000.0

,ip,date_time,unique_id,duration
9,101.81.133.jja,2017-06-30 00:00:00,101.81.133.jja|1608552.0|0001047469-17-004337|...,1

IndexError: tuple index out of range

In [185]:
new_df = pd.DataFrame()
for i1 in range(len(df_sec_edgar_data)):
#     for i2 in range(len(df_sec_edgar_data[1:])):
    if df_sec_edgar_data['unique_ip_time'][i1] in df_sec_edgar_data['unique_ip_time'][i1+1:-1].values:
        new_df[i1] = df_sec_edgar_data.iloc[i1]
        

        
new_df = new_df.T
new_df          

        
            

            #new_df['duration'].iloc[i1:i1+1] #ADD COLUMN INDICATING DURATION 1 SECOND AND JUST 1 VISIT
#         else:
#             new_df[i1] = (df_sec_edgar_data.iloc[i2])



        #print('no')
#         new_df[i] = (df_sec_edgar_data.iloc[i][0:2])
#         for second_df['ip'][i] == second_df['ip'][i+1:].values:
            
            
#         datetime.timedelta(seconds=2
#         new_df = new_df.Tnew_df['stop_time'] = new_df['date_time']
#         new_df['stop_time'] = new_df['date_time'] - 
#     else:
#         new_df[i] = (df_sec_edgar_data.iloc[i][0:2]) # switch 0 with i
#         new_df = new_df.T
#         new_df['stop_time'] = new_df['date_time']

KeyError: 0

In [6]:
sec_list = df_sec_edgar_data.values.tolist()
sec_list

[['101.81.133.jja',
  Timestamp('2017-06-30 00:00:00'),
  '101.81.133.jja|2017-06-30 00:00:00',
  '1608552.0|0001047469-17-004337|-index.htm|101.81.133.jja|2017-06-30 00:00:00'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:00'),
  '107.23.85.jfd|2017-06-30 00:00:00',
  '1027281.0|0000898430-02-001167|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:00'),
  '107.23.85.jfd|2017-06-30 00:00:00',
  '1136894.0|0000905148-07-003827|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:01'),
  '107.23.85.jfd|2017-06-30 00:00:01',
  '841535.0|0000841535-98-000002|-index.html|107.23.85.jfd|2017-06-30 00:00:01'],
 ['108.91.91.hbc',
  Timestamp('2017-06-30 00:00:01'),
  '108.91.91.hbc|2017-06-30 00:00:01',
  '1295391.0|0001209784-17-000052|.txt|108.91.91.hbc|2017-06-30 00:00:01'],
 ['106.120.173.jie',
  Timestamp('2017-06-30 00:00:02'),
  '106.120.173.jie|2017-06-30 00:00:02',
  '1470683.0|0001144204-14-046448|v385454_20fa.htm|106.120.173.jie|2017-06-30 00:00:02'],
 ['107.178.195.aag',
  Timestamp('2017-06-30 00:00:02'),
  '107.178.195.aag|2017-06-30 00:00:02',
  '1068124.0|0000350001-15-000854|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:02'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:03'),
  '107.23.85.jfd|2017-06-30 00:00:03',
  '842814.0|0000842814-98-000001|-index.html|107.23.85.jfd|2017-06-30 00:00:03'],
 ['107.178.195.aag',
  Timestamp('2017-06-30 00:00:04'),
  '107.178.195.aag|2017-06-30 00:00:04',
  '1068124.0|0000350001-15-000731|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:04'],
 ['108.91.91.hbc',
  Timestamp('2017-06-30 00:00:04'),
  '108.91.91.hbc|2017-06-30 00:00:04',
  '1618174.0|0001140361-17-026711|.txt|108.91.91.hbc|2017-06-30 00:00:04']]

In [9]:
import copy
copy_sec_list = copy.deepcopy(sec_list)
copy_sec_list

[['101.81.133.jja',
  Timestamp('2017-06-30 00:00:00'),
  '101.81.133.jja|2017-06-30 00:00:00',
  '1608552.0|0001047469-17-004337|-index.htm|101.81.133.jja|2017-06-30 00:00:00'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:00'),
  '107.23.85.jfd|2017-06-30 00:00:00',
  '1027281.0|0000898430-02-001167|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:00'),
  '107.23.85.jfd|2017-06-30 00:00:00',
  '1136894.0|0000905148-07-003827|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:01'),
  '107.23.85.jfd|2017-06-30 00:00:01',
  '841535.0|0000841535-98-000002|-index.html|107.23.85.jfd|2017-06-30 00:00:01'],
 ['108.91.91.hbc',
  Timestamp('2017-06-30 00:00:01'),
  '108.91.91.hbc|2017-06-30 00:00:01',
  '1295391.0|0001209784-17-000052|.txt|108.91.91.hbc|2017-06-30 00:00:01'],
 ['106.120.173.jie',
  Timestamp('2017-06-30 00:00:02'),
  '106.120.173.jie|2017-06-30 00:00:02',
  '1470683.0|0001144204-14-046448|v385454_20fa.htm|106.120.173.jie|2017-06-30 00:00:02'],
 ['107.178.195.aag',
  Timestamp('2017-06-30 00:00:02'),
  '107.178.195.aag|2017-06-30 00:00:02',
  '1068124.0|0000350001-15-000854|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:02'],
 ['107.23.85.jfd',
  Timestamp('2017-06-30 00:00:03'),
  '107.23.85.jfd|2017-06-30 00:00:03',
  '842814.0|0000842814-98-000001|-index.html|107.23.85.jfd|2017-06-30 00:00:03'],
 ['107.178.195.aag',
  Timestamp('2017-06-30 00:00:04'),
  '107.178.195.aag|2017-06-30 00:00:04',
  '1068124.0|0000350001-15-000731|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:04'],
 ['108.91.91.hbc',
  Timestamp('2017-06-30 00:00:04'),
  '108.91.91.hbc|2017-06-30 00:00:04',
  '1618174.0|0001140361-17-026711|.txt|108.91.91.hbc|2017-06-30 00:00:04']]

In [196]:
copy_sec_list[1][1]

Timestamp('2017-06-30 00:00:00')

In [39]:
# final_list = ['_', '_', '_', '_', '_', '_']
final_list = []
final_list

[]

In [46]:
for num, row in enumerate(sec_list):
    if row[1] == copy_sec_list[num][1]:
            final_list.append([row, 1, 1])
#             final_list[4] = 1#add column with 1 in it for duration
#             final_list[5] = 1#add column with 1 in it for number of visits
    #         elif row[1] == copy_sec_list[1][1]:
#             final_list.append(row)
final_list

[[['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:01'),
   '107.23.85.jfd|2017-06-30 00:00:01',
   '841535.0|0000841535-98-000002|-index.html|107.23.85.jfd|2017-06-30 00:00:01'],
  1,
  1],
 [['108.91.91.hbc',
   Timestamp('2017-06-30 00:00:01'),
   '108.91.91.hbc|2017-06-30 00:00:01',
   '1295391.0|0001209784-17-000052|.txt|108.91.91.hbc|2017-06-30 00:00:01'],
  1,
  1],
 [['106.120.173.jie',
   Timestamp('2017-06-30 00:00:02'),
   '106.120.173.jie|2017-06-30 00:00:02',
   '1470683.0|0001144204-14-046448|v385454_20fa.htm|106.120.173.jie|2017-06-30 00:00:02'],
  1,
  1],
 [['107.178.195.aag',
   Timestamp('2017-06-30 00:00:02'),
   '107.178.195.aag|2017-06-30 00:00:02',
   '1068124.0|0000350001-15-000854|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:02'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:03'),
   '107.23.85.jfd|2017-06-30 00:00:03',
   '842814.0|0000842814-98-000001|-index.html|107.23.85.jfd|2017-06-30 00:00:03'],
  1,
  1],
 [['107.178.195.aag',
   Timestamp('2017-06-30 00:00:04'),
   '107.178.195.aag|2017-06-30 00:00:04',
   '1068124.0|0000350001-15-000731|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:04'],
  1,
  1],
 [['108.91.91.hbc',
   Timestamp('2017-06-30 00:00:04'),
   '108.91.91.hbc|2017-06-30 00:00:04',
   '1618174.0|0001140361-17-026711|.txt|108.91.91.hbc|2017-06-30 00:00:04'],
  1,
  1],
 [['101.81.133.jja',
   Timestamp('2017-06-30 00:00:00'),
   '101.81.133.jja|2017-06-30 00:00:00',
   '1608552.0|0001047469-17-004337|-index.htm|101.81.133.jja|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:00'),
   '107.23.85.jfd|2017-06-30 00:00:00',
   '1027281.0|0000898430-02-001167|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:00'),
   '107.23.85.jfd|2017-06-30 00:00:00',
   '1136894.0|0000905148-07-003827|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:01'),
   '107.23.85.jfd|2017-06-30 00:00:01',
   '841535.0|0000841535-98-000002|-index.html|107.23.85.jfd|2017-06-30 00:00:01'],
  1,
  1],
 [['108.91.91.hbc',
   Timestamp('2017-06-30 00:00:01'),
   '108.91.91.hbc|2017-06-30 00:00:01',
   '1295391.0|0001209784-17-000052|.txt|108.91.91.hbc|2017-06-30 00:00:01'],
  1,
  1],
 [['106.120.173.jie',
   Timestamp('2017-06-30 00:00:02'),
   '106.120.173.jie|2017-06-30 00:00:02',
   '1470683.0|0001144204-14-046448|v385454_20fa.htm|106.120.173.jie|2017-06-30 00:00:02'],
  1,
  1],
 [['107.178.195.aag',
   Timestamp('2017-06-30 00:00:02'),
   '107.178.195.aag|2017-06-30 00:00:02',
   '1068124.0|0000350001-15-000854|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:02'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:03'),
   '107.23.85.jfd|2017-06-30 00:00:03',
   '842814.0|0000842814-98-000001|-index.html|107.23.85.jfd|2017-06-30 00:00:03'],
  1,
  1],
 [['107.178.195.aag',
   Timestamp('2017-06-30 00:00:04'),
   '107.178.195.aag|2017-06-30 00:00:04',
   '1068124.0|0000350001-15-000731|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:04'],
  1,
  1],
 [['108.91.91.hbc',
   Timestamp('2017-06-30 00:00:04'),
   '108.91.91.hbc|2017-06-30 00:00:04',
   '1618174.0|0001140361-17-026711|.txt|108.91.91.hbc|2017-06-30 00:00:04'],
  1,
  1],
 [['101.81.133.jja',
   Timestamp('2017-06-30 00:00:00'),
   '101.81.133.jja|2017-06-30 00:00:00',
   '1608552.0|0001047469-17-004337|-index.htm|101.81.133.jja|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:00'),
   '107.23.85.jfd|2017-06-30 00:00:00',
   '1027281.0|0000898430-02-001167|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:01'),
   '107.23.85.jfd|2017-06-30 00:00:01',
   '841535.0|0000841535-98-000002|-index.html|107.23.85.jfd|2017-06-30 00:00:01'],
  1,
  1],
 [['106.120.173.jie',
   Timestamp('2017-06-30 00:00:02'),
   '106.120.173.jie|2017-06-30 00:00:02',
   '1470683.0|0001144204-14-046448|v385454_20fa.htm|106.120.173.jie|2017-06-30 00:00:02'],
  1,
  1],
 [['107.178.195.aag',
   Timestamp('2017-06-30 00:00:04'),
   '107.178.195.aag|2017-06-30 00:00:04',
   '1068124.0|0000350001-15-000731|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:04'],
  1,
  1],
 [['101.81.133.jja',
   Timestamp('2017-06-30 00:00:00'),
   '101.81.133.jja|2017-06-30 00:00:00',
   '1608552.0|0001047469-17-004337|-index.htm|101.81.133.jja|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:00'),
   '107.23.85.jfd|2017-06-30 00:00:00',
   '1027281.0|0000898430-02-001167|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:00'),
   '107.23.85.jfd|2017-06-30 00:00:00',
   '1136894.0|0000905148-07-003827|-index.htm|107.23.85.jfd|2017-06-30 00:00:00'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:01'),
   '107.23.85.jfd|2017-06-30 00:00:01',
   '841535.0|0000841535-98-000002|-index.html|107.23.85.jfd|2017-06-30 00:00:01'],
  1,
  1],
 [['108.91.91.hbc',
   Timestamp('2017-06-30 00:00:01'),
   '108.91.91.hbc|2017-06-30 00:00:01',
   '1295391.0|0001209784-17-000052|.txt|108.91.91.hbc|2017-06-30 00:00:01'],
  1,
  1],
 [['106.120.173.jie',
   Timestamp('2017-06-30 00:00:02'),
   '106.120.173.jie|2017-06-30 00:00:02',
   '1470683.0|0001144204-14-046448|v385454_20fa.htm|106.120.173.jie|2017-06-30 00:00:02'],
  1,
  1],
 [['107.178.195.aag',
   Timestamp('2017-06-30 00:00:02'),
   '107.178.195.aag|2017-06-30 00:00:02',
   '1068124.0|0000350001-15-000854|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:02'],
  1,
  1],
 [['107.23.85.jfd',
   Timestamp('2017-06-30 00:00:03'),
   '107.23.85.jfd|2017-06-30 00:00:03',
   '842814.0|0000842814-98-000001|-index.html|107.23.85.jfd|2017-06-30 00:00:03'],
  1,
  1],
 [['107.178.195.aag',
   Timestamp('2017-06-30 00:00:04'),
   '107.178.195.aag|2017-06-30 00:00:04',
   '1068124.0|0000350001-15-000731|-xbrl.zip|107.178.195.aag|2017-06-30 00:00:04'],
  1,
  1],
 [['108.91.91.hbc',
   Timestamp('2017-06-30 00:00:04'),
   '108.91.91.hbc|2017-06-30 00:00:04',
   '1618174.0|0001140361-17-026711|.txt|108.91.91.hbc|2017-06-30 00:00:04'],
  1,
  1]]

In [37]:
copy_sec_list[1][1]

Timestamp('2017-06-30 00:00:00')

In [215]:
new_df = pd.DataFrame()
for i in range(len(df_sec_edgar_data)):
    if df_sec_edgar_data['ip'][i] in second_df['ip'][i+1:].values: #switch 0 with i
        new_df[i] = (df_sec_edgar_data.iloc[i][0:2])
        for second_df['ip'][i] == second_df['ip'][i+1:].values:
            
            
        datetime.timedelta(seconds=2
        new_df = new_df.T
        new_df['stop_time'] = new_df['date_time']
        new_df['stop_time'] = new_df['date_time'] - 
    else:
        new_df[i] = (df_sec_edgar_data.iloc[i][0:2]) # switch 0 with i
        new_df = new_df.T
        new_df['stop_time'] = new_df['date_time']
        


new_df

SyntaxError: invalid syntax (<ipython-input-215-eaa13e03d873>, line 5)

In [5]:
print(df_sec_edgar_data['ip'][0] in df_sec_edgar_data['ip'][1:].values)

False

In [16]:
new_df = pd.DataFrame()
for i in range(len(df_sec_edgar_data)):
    if df_sec_edgar_data['ip'][i] in dumb_df['ip'][i:]:
        new_df = df_sec_edgar_data.iloc[i][0:2] # switch 0 with i
new_df

Empty DataFrame
Columns: []
Index: []

In [15]:
print(new_df)

Empty DataFrame
Columns: []
Index: []

In [386]:
        pass
    else:
        new_df[i] = (df_sec_edgar_data.iloc[i][0:2]) # switch 0 with i
        new_df['requests'] = pd.Series(1).
        
new_df = new_df.T
new_df['stop_time'] = new_df['date_time']
new_df

'107.23.85.jfd'

In [320]:
df_sec_edgar_data

,ip,date_time,unique_id
1,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1027281.0|0000898430-02-001167|-...
2,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1136894.0|0000905148-07-003827|-...
3,107.23.85.jfd,2017-06-30 00:00:01,107.23.85.jfd|841535.0|0000841535-98-000002|-i...
4,108.91.91.hbc,2017-06-30 00:00:01,108.91.91.hbc|1295391.0|0001209784-17-000052|.txt
5,106.120.173.jie,2017-06-30 00:00:02,106.120.173.jie|1470683.0|0001144204-14-046448...
7,107.23.85.jfd,2017-06-30 00:00:03,107.23.85.jfd|842814.0|0000842814-98-000001|-i...
8,107.178.195.aag,2017-06-30 00:00:04,107.178.195.aag|1068124.0|0000350001-15-000731...
9,108.91.91.hbc,2017-06-30 00:00:04,108.91.91.hbc|1618174.0|0001140361-17-026711|.txt

In [300]:
# Calculate a 'single session' for a given IP address, given these instructions

# For the purposes of this challenge, an IP address uniquely identifies a single user. A user is defined to have visited the EDGAR system if during the visit, the IP address requested one or more documents.

# Also, for the purposes of this challenge, the amount of time that elapses between document requests should be used to determine when a visit, also referred to as a session, begins and ends.

# A single user session is defined to have started when the IP address first requests a document from the EDGAR system and continues as long as the same user continues to make requests. The session is over after a certain period of time has elapsed -- we'll provide you that value -- and the user makes no requests for documents.

# In other words, this period of inactivity helps to determine when the session is over and the user is assumed to have left the system.

# The duration of any particular session is defined to be the time between the IP address' first request and the last one in the same session prior to the period of inactivity. If the user returns later to access another document requests, that subsequent request would be considered the start of a new session.

In [1]:
type(df_sec_edgar_data['date_time'][0])

NameError: name 'df_sec_edgar_data' is not defined

In [20]:
from datetime import datetime, timedelta
datetime.datetime.df_sec_edgar_data['date_time'][0]

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [ ]:
    for row in inactivity_period_file:
        for line in df_sec_edgar_data:
            for line2 in 
                if df_sec_edgar_data['date_time'][line] - datetime.timedelta(seconds=9333)

In [15]:
df_sec_edgar_data['date_time'][0]

Timestamp('2017-06-29 23:59:58')

In [5]:
for i in df_sec_edgar_data['date_time']:
    if i - datetime.timedelta(seconds=2)

2

In [306]:
df_sec_edgar_data["unique_identifier"] = df_sec_edgar_data["ip"].astype(str) + df_sec_edgar_data["cik"]
df_sec_edgar_data["unique_identifier"] = df_sec_edgar_data["unique_identifier"].astype(str) + df_sec_edgar_data["accession"]
df_sec_edgar_data["unique_identifier"] = df_sec_edgar_data["unique_identifier"].astype(str) + df_sec_edgar_data["extention"]

df_sec_edgar_data

,ip,cik,accession,extention,date_time,unique_id,unique_identifier
0,101.81.133.jja,1608552.0,0001047469-17-004337,-index.htm,2017-06-30 00:00:00,101.81.133.jja|1608552.0|0001047469-17-004337|...,101.81.133.jja1608552.00001047469-17-004337-in...
1,107.23.85.jfd,1027281.0,0000898430-02-001167,-index.htm,2017-06-30 00:00:00,107.23.85.jfd|1027281.0|0000898430-02-001167|-...,107.23.85.jfd1027281.00000898430-02-001167-ind...
2,107.23.85.jfd,1136894.0,0000905148-07-003827,-index.htm,2017-06-30 00:00:00,107.23.85.jfd|1136894.0|0000905148-07-003827|-...,107.23.85.jfd1136894.00000905148-07-003827-ind...
3,107.23.85.jfd,841535.0,0000841535-98-000002,-index.html,2017-06-30 00:00:01,107.23.85.jfd|841535.0|0000841535-98-000002|-i...,107.23.85.jfd841535.00000841535-98-000002-inde...
4,108.91.91.hbc,1295391.0,0001209784-17-000052,.txt,2017-06-30 00:00:01,108.91.91.hbc|1295391.0|0001209784-17-000052|.txt,108.91.91.hbc1295391.00001209784-17-000052.txt
5,106.120.173.jie,1470683.0,0001144204-14-046448,v385454_20fa.htm,2017-06-30 00:00:02,106.120.173.jie|1470683.0|0001144204-14-046448...,106.120.173.jie1470683.00001144204-14-046448v3...
6,107.178.195.aag,1068124.0,0000350001-15-000854,-xbrl.zip,2017-06-30 00:00:02,107.178.195.aag|1068124.0|0000350001-15-000854...,107.178.195.aag1068124.00000350001-15-000854-x...
7,107.23.85.jfd,842814.0,0000842814-98-000001,-index.html,2017-06-30 00:00:03,107.23.85.jfd|842814.0|0000842814-98-000001|-i...,107.23.85.jfd842814.00000842814-98-000001-inde...
8,107.178.195.aag,1068124.0,0000350001-15-000731,-xbrl.zip,2017-06-30 00:00:04,107.178.195.aag|1068124.0|0000350001-15-000731...,107.178.195.aag1068124.00000350001-15-000731-x...
9,108.91.91.hbc,1618174.0,0001140361-17-026711,.txt,2017-06-30 00:00:04,108.91.91.hbc|1618174.0|0001140361-17-026711|.txt,108.91.91.hbc1618174.00001140361-17-026711.txt

In [12]:
inactivity_text = pd.read_csv('../input/inactivity_period.txt')
for row in inactivity_text:
    inactivity_value = row
print('the variablle inactivity_value is type: {}'.format(type(inactivity_value)))

the variablle inactivity_value is type: <class 'str'>

In [8]:
    for num, cell in enumerate(df_sec_edgar_data['date_time']):
        if cell[num] == cell[num+1]:
            df_sec_edgar_data['0'] = pd.DataFrame(cell[num+1])
print(df_sec_edgar_data)

TypeError: 'Timestamp' object does not support indexing

In [2]:
test_df = pd.DataFrame(
[['33', 0],
['85', 0],
['85', 0],
['91', 1],
['17', 1],
['19', 2],
['73', 2],
['85', 3],
['95', 4],
['91', 4]])

test_df.columns = ['p', 's']
print(test_df)

    p  s
0  33  0
1  85  0
2  85  0
3  91  1
4  17  1
5  19  2
6  73  2
7  85  3
8  95  4
9  91  4

In [3]:
test_df['new'] = ['index', 'htm', 'htm', 'index', 'htm', 'index', 'txt', 'htm', 'index', 'txt']
test_df

    p  s    new
0  33  0  index
1  85  0    htm
2  85  0    htm
3  91  1  index
4  17  1    htm
5  19  2  index
6  73  2    txt
7  85  3    htm
8  95  4  index
9  91  4    txt

In [11]:
new_test_df = test_df[test_df['s'] == 0]
new_test_df
# test_df[test_df['s'] == 1]

    p  s    new
0  33  0  index
1  85  0    htm
2  85  0    htm

In [16]:
if test_df['p']

0    0
1    0
2    0
Name: s, dtype: int64

In [30]:
test_df['s0'] = pd.Series()
test_df['s1'] = pd.Series()
test_df['s2'] = pd.Series()
test_df

    p  s    new  s0  s1  s2
0  33  0  index NaN NaN NaN
1  85  0    htm NaN NaN NaN
2  85  0    htm NaN NaN NaN
3  91  1  index NaN NaN NaN
4  17  1    htm NaN NaN NaN
5  19  2  index NaN NaN NaN
6  73  2    txt NaN NaN NaN
7  85  3    htm NaN NaN NaN
8  95  4  index NaN NaN NaN
9  91  4    txt NaN NaN NaN

In [29]:
if

pandas.core.frame.DataFrame

In [32]:
type(first_row)

pandas.core.series.Series

In [35]:
print(first_row)

Empty DataFrame
Columns: []
Index: []

In [8]:
type(test_df)

pandas.core.frame.DataFrame

In [44]:
new_test_df = pd.DataFrame()
test_df['s'] == test_df['s'][0]
    new_test_df['sec'] = test_df['s']

SyntaxError: invalid syntax (<ipython-input-44-07414ecac50a>, line 2)

In [21]:
type(first_row)

pandas.core.frame.DataFrame

In [ ]:
test_df['p]'[0]

In [69]:
import csv
import copy
import pandas as pd
import numpy as np
import datetime

# def parse_sec_edgar_data(input_donor_data, output_donor_data):

def parse_sec_edgar_data(input_data_csv, inactivity_period_file, output_data_csv):
    
    with open(input_data_csv, 'r') as csvfile:
        sec_csv = csv.reader(csvfile, delimiter=',')
        sec_csv_list = []
        for row in sec_csv:
            sec_csv_list.append(row[:7])
    #print(sec_csv_list)
#             print(','.join(row))
    
    copy_sec_csv_list = b = copy.deepcopy(sec_csv_list)
    
    inactivity_text = pd.read_csv('../input/inactivity_period.txt') # replace file name with inactivity_period_file
    for row in inactivity_text:
        inactivity_value = row
    
    
    #for i in range(len(sec_csv_list)):
    sec_list = []
    for num, row in enumerate(sec_csv_list):
        #for cnum, copy_row in enumerate(copy_sec_csv_list[1:]):
        sec_list.append(row)
#                 if row[0] == copy_row[1]:
#                     print(True)
#                 else:
#                     print(False)
        
#    s.copy(deep=True)

#     input_sec_dataframe['date_time']
    
    
#     input_sec_dataframe['start_time'] = input_sec_dataframe['date_time']
    

#     for num, base_cell in enumerate(df_sec_edgar_data['date_time']):
#         if
        
#     for i in range(len(df_sec_edgar_data['date_time'])):
#         for cell in df_sec_edgar_data['date_time']:
#             if cell == i:
#                 sec_edgar_data['0'] = i
    
#         for start_cell in input_sec_dataframe:
#             if base_cell['ip']
            
    
# #     for cell in input_sec_dataframe['datetime']:
# #         if 
    
    #input_sec_dataframe['user_and_site_id'] = input_sec_dataframe.groupby(['ip', 'cik', 'accession', 'extention'])
    #input_sec_dataframe.to_csv(output_data_csv, sep=',', header='infer', index=False) #Writes dataframe to csv file '??????????.txt' with the correct ',' separator. Also, to match the desired format, this line ??????? the headers and the index column.

    return sec_list
    
 
lst_sec_edgar_data = parse_sec_edgar_data('../input/log.csv', '../input/inactivity_period.txt', '../output/sessionization.txt')
print(df_sec_edgar_data)

[['ip', 'date', 'time', 'zone', 'cik', 'accession', 'extention'], ['101.81.133.jja', '2017-06-30', '00:00:00', '0.0', '1608552.0', '0001047469-17-004337', '-index.htm'], ['107.23.85.jfd', '2017-06-30', '00:00:00', '0.0', '1027281.0', '0000898430-02-001167', '-index.htm'], ['107.23.85.jfd', '2017-06-30', '00:00:00', '0.0', '1136894.0', '0000905148-07-003827', '-index.htm'], ['107.23.85.jfd', '2017-06-30', '00:00:01', '0.0', '841535.0', '0000841535-98-000002', '-index.html'], ['108.91.91.hbc', '2017-06-30', '00:00:01', '0.0', '1295391.0', '0001209784-17-000052', '.txt'], ['106.120.173.jie', '2017-06-30', '00:00:02', '0.0', '1470683.0', '0001144204-14-046448', 'v385454_20fa.htm'], ['107.178.195.aag', '2017-06-30', '00:00:02', '0.0', '1068124.0', '0000350001-15-000854', '-xbrl.zip'], ['107.23.85.jfd', '2017-06-30', '00:00:03', '0.0', '842814.0', '0000842814-98-000001', '-index.html'], ['107.178.195.aag', '2017-06-30', '00:00:04', '0.0', '1068124.0', '0000350001-15-000731', '-xbrl.zip'], ['108.91.91.hbc', '2017-06-30', '00:00:04', '0.0', '1618174.0', '0001140361-17-026711', '.txt']]

In [70]:
type(lst_sec_edgar_data)

list

In [91]:
lst_sec_edgar_data[1]

['101.81.133.jja',
 '2017-06-30',
 '00:00:00',
 '0.0',
 '1608552.0',
 '0001047469-17-004337',
 '-index.htm']

date_time     2017-06-30 00:00:02
ip                106.120.173.jie
cik                       1470683
accession    0001144204-14-046448
extention        v385454_20fa.htm
Name: 5, dtype: object

In [93]:
import pandas as pd
import numpy as np
import datetime

# def parse_sec_edgar_data(input_donor_data, output_donor_data):

def parse_sec_edgar_data(input_data_csv, inactivity_period_file, output_data_csv):
    
    input_sec_dataframe = pd.read_csv(input_data_csv, sep=',', header='infer', usecols=['ip', 'date', 'time', 'cik', 'accession', 'extention'], dtype={'ip':np.str, 'cik':np.int, 'accession':np.str, 'extention':np.str}, parse_dates=[['date', 'time']]) #, dropna(subset = ['CMTE_ID', 'NAME', 'ZIP_CODE', 'TRANSACTION_DT', 'TRANSACTION_AMT'] #Reads in file, specifies ',' as separator, infers that there is a header in the input file that should be preserved, selects only the 6 columns that are relevant to my analysis, reads these 6 columns as appropriate data types; reads the date and time columns as date_time types and combines them into a single column that allows for identifying and ordering each row on a time series,  ????? drops null values from a subset of columns, but not the 'OTHER_ID' column where we want to keep all null values
    
    inactivity_text = pd.read_csv('../input/inactivity_period.txt') # replace file name with inactivity_period_file
    for row in inactivity_text:
        inactivity_value = row
    
    input_sec_dataframe = input_sec_dataframe.sort_values(by=['ip', 'date_time'])
    lst_input_sec = input_sec_dataframe.values.tolist()
#     print(input_sec_dataframe)

# #     input_sec_dataframe['date_time']
    
    
# #     input_sec_dataframe['start_time'] = input_sec_dataframe['date_time']
    

# #     for num, base_cell in enumerate(df_sec_edgar_data['date_time']):
# #         if
        
# #     for i in range(len(df_sec_edgar_data['date_time'])):
# #         for cell in df_sec_edgar_data['date_time']:
# #             if cell == i:
# #                 sec_edgar_data['0'] = i
    
# #         for start_cell in input_sec_dataframe:
# #             if base_cell['ip']
            
    
# # #     for cell in input_sec_dataframe['datetime']:
# # #         if 
    
#     #input_sec_dataframe['user_and_site_id'] = input_sec_dataframe.groupby(['ip', 'cik', 'accession', 'extention'])
#     input_sec_dataframe.to_csv(output_data_csv, sep=',', header='infer', index=False) #Writes dataframe to csv file '??????????.txt' with the correct ',' separator. Also, to match the desired format, this line ??????? the headers and the index column.
#     return sec_list
    return lst_input_sec
    
 
lst_sec_edgar_data = parse_sec_edgar_data('../input/log.csv', '../input/inactivity_period.txt', '../output/sessionization.txt')
print(lst_sec_edgar_data)

[[Timestamp('2017-06-30 00:00:00'), '101.81.133.jja', 1608552, '0001047469-17-004337', '-index.htm'], [Timestamp('2017-06-30 00:00:02'), '106.120.173.jie', 1470683, '0001144204-14-046448', 'v385454_20fa.htm'], [Timestamp('2017-06-30 00:00:02'), '107.178.195.aag', 1068124, '0000350001-15-000854', '-xbrl.zip'], [Timestamp('2017-06-30 00:00:04'), '107.178.195.aag', 1068124, '0000350001-15-000731', '-xbrl.zip'], [Timestamp('2017-06-30 00:00:00'), '107.23.85.jfd', 1027281, '0000898430-02-001167', '-index.htm'], [Timestamp('2017-06-30 00:00:00'), '107.23.85.jfd', 1136894, '0000905148-07-003827', '-index.htm'], [Timestamp('2017-06-30 00:00:01'), '107.23.85.jfd', 841535, '0000841535-98-000002', '-index.html'], [Timestamp('2017-06-30 00:00:03'), '107.23.85.jfd', 842814, '0000842814-98-000001', '-index.html'], [Timestamp('2017-06-30 00:00:01'), '108.91.91.hbc', 1295391, '0001209784-17-000052', '.txt'], [Timestamp('2017-06-30 00:00:04'), '108.91.91.hbc', 1618174, '0001140361-17-026711', '.txt']]

In [212]:
# for i in range(len(df_sec_edgar_data)):
new_df = pd.DataFrame(df_sec_edgar_data.iloc[0][0:2]).T
new_df
#     if df_sec_edgar_data.iloc[i][0] - df_sec_edgar_data.iloc[0][0] >= datetime.timedelta(seconds=2)
# two_secs

             date_time                                          unique_id
0  2017-06-30 00:00:00  101.81.133.jja|1608552.0|0001047469-17-004337|...

In [137]:
2 - two_secs

1

In [252]:
df_sec_edgar_data

,ip,date_time,unique_id
0,101.81.133.jja,2017-06-30 00:00:00,101.81.133.jja|1608552.0|0001047469-17-004337|...
1,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1027281.0|0000898430-02-001167|-...
2,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1136894.0|0000905148-07-003827|-...
3,107.23.85.jfd,2017-06-30 00:00:01,107.23.85.jfd|841535.0|0000841535-98-000002|-i...
4,108.91.91.hbc,2017-06-30 00:00:01,108.91.91.hbc|1295391.0|0001209784-17-000052|.txt
5,106.120.173.jie,2017-06-30 00:00:02,106.120.173.jie|1470683.0|0001144204-14-046448...
6,107.178.195.aag,2017-06-30 00:00:02,107.178.195.aag|1068124.0|0000350001-15-000854...
7,107.23.85.jfd,2017-06-30 00:00:03,107.23.85.jfd|842814.0|0000842814-98-000001|-i...
8,107.178.195.aag,2017-06-30 00:00:04,107.178.195.aag|1068124.0|0000350001-15-000731...
9,108.91.91.hbc,2017-06-30 00:00:04,108.91.91.hbc|1618174.0|0001140361-17-026711|.txt

In [213]:
new_df = pd.DataFrame(df_sec_edgar_data.iloc[0][0:2]).T
new_df

             date_time                                          unique_id
0  2017-06-30 00:00:00  101.81.133.jja|1608552.0|0001047469-17-004337|...

In [228]:
for i in range(len(df_sec_edgar_data)):
    if df_sec_edgar_data['unique_id'][6] not in df_sec_edgar_data['unique_id'][1:].values:
    #delete new_df['unique_id'][0] value from df_sec_edgar_data
    #keep new_df['unique_id'][0] value in new_df AND add stop time as same as date_time to indicate this was the last time the user visited the site AND enter 1 for duration of visit since there was no follow-up AND ener 1 for number of visits
else:

True

In [230]:
df_sec_edgar_data['unique_id'][

'107.23.85.jfd|1136894.0|0000905148-07-003827|-index.htm'

In [234]:
df_sec_edgar_data['unique_id'][6]

'107.178.195.aag|1068124.0|0000350001-15-000854|-xbrl.zip'

In [237]:
df_sec_edgar_data['unique_id'][6] not in df_sec_edgar_data['unique_id'][7:]
#df_sec_edgar_data['unique_id'][6] not in df_sec_edgar_data['unique_id'][7:]

'107.178.195.aag|1068124.0|0000350001-15-000854|-xbrl.zip'

In [244]:
df_sec_edgar_data['unique_id'][6]

'107.178.195.aag|1068124.0|0000350001-15-000854|-xbrl.zip'

In [245]:
df_sec_edgar_data['unique_id'][8]

'107.178.195.aag|1068124.0|0000350001-15-000731|-xbrl.zip'

In [240]:
df_sec_edgar_data['unique_id'][7:]

7    107.23.85.jfd|842814.0|0000842814-98-000001|-i...
8    107.178.195.aag|1068124.0|0000350001-15-000731...
9    108.91.91.hbc|1618174.0|0001140361-17-026711|.txt
Name: unique_id, dtype: object

In [243]:
df_sec_edgar_data['unique_id'][6] == df_sec_edgar_data['unique_id'][8]

False

In [280]:
df_sec_edgar_data['ip'][0:10]

0     101.81.133.jja
1      107.23.85.jfd
2      107.23.85.jfd
3      107.23.85.jfd
4      108.91.91.hbc
5    106.120.173.jie
6    107.178.195.aag
7      107.23.85.jfd
8    107.178.195.aag
9      108.91.91.hbc
Name: ip, dtype: object

In [256]:
df_sec_edgar_data['ip'][1:]

1      107.23.85.jfd
2      107.23.85.jfd
3      107.23.85.jfd
4      108.91.91.hbc
5    106.120.173.jie
6    107.178.195.aag
7      107.23.85.jfd
8    107.178.195.aag
9      108.91.91.hbc
Name: ip, dtype: object

In [407]:
dumb_df = df_sec_edgar_data.copy()

In [412]:
type(dumb_df)

pandas.core.frame.DataFrame

In [401]:
dumb_df

,ip,date_time,unique_id
0,101.81.133.jja,2017-06-30 00:00:00,101.81.133.jja|1608552.0|0001047469-17-004337|...
1,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1027281.0|0000898430-02-001167|-...
2,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1136894.0|0000905148-07-003827|-...
3,107.23.85.jfd,2017-06-30 00:00:01,107.23.85.jfd|841535.0|0000841535-98-000002|-i...
4,108.91.91.hbc,2017-06-30 00:00:01,108.91.91.hbc|1295391.0|0001209784-17-000052|.txt
5,106.120.173.jie,2017-06-30 00:00:02,106.120.173.jie|1470683.0|0001144204-14-046448...
6,107.178.195.aag,2017-06-30 00:00:02,107.178.195.aag|1068124.0|0000350001-15-000854...
7,107.23.85.jfd,2017-06-30 00:00:03,107.23.85.jfd|842814.0|0000842814-98-000001|-i...
8,107.178.195.aag,2017-06-30 00:00:04,107.178.195.aag|1068124.0|0000350001-15-000731...
9,108.91.91.hbc,2017-06-30 00:00:04,108.91.91.hbc|1618174.0|0001140361-17-026711|.txt

In [413]:
df_sec_edgar_data

,ip,date_time,unique_id
0,101.81.133.jja,2017-06-30 00:00:00,101.81.133.jja|1608552.0|0001047469-17-004337|...
1,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1027281.0|0000898430-02-001167|-...
2,107.23.85.jfd,2017-06-30 00:00:00,107.23.85.jfd|1136894.0|0000905148-07-003827|-...
3,107.23.85.jfd,2017-06-30 00:00:01,107.23.85.jfd|841535.0|0000841535-98-000002|-i...
4,108.91.91.hbc,2017-06-30 00:00:01,108.91.91.hbc|1295391.0|0001209784-17-000052|.txt
5,106.120.173.jie,2017-06-30 00:00:02,106.120.173.jie|1470683.0|0001144204-14-046448...
6,107.178.195.aag,2017-06-30 00:00:02,107.178.195.aag|1068124.0|0000350001-15-000854...
7,107.23.85.jfd,2017-06-30 00:00:03,107.23.85.jfd|842814.0|0000842814-98-000001|-i...
8,107.178.195.aag,2017-06-30 00:00:04,107.178.195.aag|1068124.0|0000350001-15-000731...
9,108.91.91.hbc,2017-06-30 00:00:04,108.91.91.hbc|1618174.0|0001140361-17-026711|.txt

In [403]:
# dumb_df = dumb_df.drop(['ip'], axis=1)
# dumb_df

            date_time                                          unique_id
0 2017-06-30 00:00:00  101.81.133.jja|1608552.0|0001047469-17-004337|...
1 2017-06-30 00:00:00  107.23.85.jfd|1027281.0|0000898430-02-001167|-...
2 2017-06-30 00:00:00  107.23.85.jfd|1136894.0|0000905148-07-003827|-...
3 2017-06-30 00:00:01  107.23.85.jfd|841535.0|0000841535-98-000002|-i...
4 2017-06-30 00:00:01  108.91.91.hbc|1295391.0|0001209784-17-000052|.txt
5 2017-06-30 00:00:02  106.120.173.jie|1470683.0|0001144204-14-046448...
6 2017-06-30 00:00:02  107.178.195.aag|1068124.0|0000350001-15-000854...
7 2017-06-30 00:00:03  107.23.85.jfd|842814.0|0000842814-98-000001|-i...
8 2017-06-30 00:00:04  107.178.195.aag|1068124.0|0000350001-15-000731...
9 2017-06-30 00:00:04  108.91.91.hbc|1618174.0|0001140361-17-026711|.txt

In [ ]:
df_sec_edgar_data['ip'][0] in dumb_df['ip']

Monthlyinterestrate: 0.016666666666666666
Monthlypaymentlowerbound: 26666.666666666668
Monthlypaymentupperbound: 32517.095597472842
upperandlower: 29591.881132069757

KeyboardInterrupt:

NameError: name 'c' is not defined

SyntaxError: invalid syntax (<ipython-input-153-b08a77557b60>, line 15)

ModuleNotFoundError: No module named 'gensim'

In [173]:
from referential_array import build_array


class HashTableQuadratic:

    def __init__(self, size):
        self.count = 0
        self.table_size = size
        self.array = build_array(self.table_size)
        self.collisions=0
        self.probe=0

    def __len__(self):
        return self.count

    def hash_value(self, key):
        a=101
        h = 0
        for c in key:
            h = (h*a + ord((c))) % self.table_size
        return h








    def __setitem__(self, key, value):
        position = self.hash_value(key)

        for _ in range(self.table_size):
            if self.array[position] is None:
                self.array[position] = (key, value)
                self.count += 1
                if self.hash_value(key)!=position:
                    self.probe+=(self.hash_value(key)-position)

                return
            elif self.array[position][0] == key:
                self.array[position] = (key, value)
            elif self.array[position][0]!=key:
                position=(position+1)%self.table_size
                self.collisions+=1

                return
            else:
                position = (position+1) % self.table_size
                self.collisions+=1
        raise ValueError("Table is Full!")
    def __getitem__(self, key):
        position = self.hash_value(key)
        for _ in range(self.table_size):
            if self.array[position] is None:
                raise KeyError("key not found",key)
            elif self.array[position][0] == key:
                return self.array[position][1]
            else:
                position = (position + 1) % self.table_size
        raise KeyError("key not found",key)
    def __contains__(self, key):
        position = self.hash_value(key)
        for _ in range(self.table_size):
            if self.array[position] is None:
                return False
            elif self.array[position][0] == key:
                return True
            else:
                position = (position + 1) % self.table_size
        raise KeyError("key not found",key)

    def __str__(self):
        ans = "["
        for val in self.array:
            if val is not None:
                ans += "\n{} = {}".format(val[0],val[1])
        ans += "\n]"
        return ans


    def loadfactor(self,size):
        load_Factor=self.count/size
        print("The load factor is ",load_Factor)

ModuleNotFoundError: No module named 'referential_array'

In [ ]:
low=0
high = 100
guess = (low + high)//2
u =  ''
try: 
    u = int(input("Please think of a number between 0 and 100!: "))
except ValueError:
    print("Sorry, I did not understand your input.")
    
while guess != (u):
    print("Is your favorite number", int(guess), "?")
    u = (input("Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.: "))
    if u == 'h':
        high = (guess)
        guess = (high + low)//2
    if u == 'l':
        low = (guess)
        guess = (high + low)//2

if guess == (u):
    if u == 'c':
        guess == (u)
print ("Game over your secret number was", guess)

Please think of a number between 0 and 100!: 88
Is your favorite number 50 ?
Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.: l
Is your favorite number 75 ?
Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.:
Is your favorite number 75 ?
Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.: l
Is your favorite number 87 ?
Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.: l
Is your favorite number 93 ?
Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.: h
Is your favorite number 90 ?
Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.: h
Is your favorite number 88 ?
Enter 'h' to indicate the guess is too high. Enter 'l' to indicate the guess is too low. Enter 'c' to indicate I guessed correctly.: c
Is your favorite number 88 ?

In [6]:
balance=0
minmonthlypayment=0
month=0
monthlyInterestrate = 0
unpaidbalance = (balance) - (minmonthlypayment)
for i in range(1,13):
    month = month + i
unpaidbalance -= minmonthlypayment
unpaidbalance += monthlyInterestrate
print (month, "unpaid balance: " + str(round(unpaidbalance,2)))

78 unpaid balance: 0